body{

margin:0;
height:100vh;

display:flex;
justify-content:center;
align-items:center;

font-family:Arial;

background-image:url("https://images.unsplash.com/photo-1508098682722-e99c643e7f0b");

background-size:cover;
background-position:center;

}

.overlay{

background:rgba(0,0,0,0.6);

width:100%;
height:100vh;

display:flex;
justify-content:center;
align-items:center;

}

.container{

background:rgba(255,255,255,0.1);

backdrop-filter:blur(10px);

padding:40px;

border-radius:15px;

text-align:center;

width:420px;

color:white;

box-shadow:0 15px 40px rgba(0,0,0,0.6);

}

h1{

margin-bottom:20px;

}

.card{

background:white;

padding:20px;

border-radius:10px;

color:black;

}

.card img{

width:260px;

border-radius:10px;

box-shadow:0 10px 25px rgba(0,0,0,0.5);

transition:0.4s;

cursor:pointer;

}

.card img:hover{

transform:scale(1.05);

}

.controls{

margin-top:20px;

display:flex;
flex-direction:column;

gap:10px;

}

input{

padding:12px;

border-radius:8px;

border:none;

font-size:16px;

}

button{

padding:12px;

border:none;

border-radius:8px;

background:linear-gradient(90deg,#00c6ff,#0072ff);

color:white;

font-size:16px;

cursor:pointer;

transition:0.3s;

}

button:hover{

transform:scale(1.05);

}

h2{

margin-top:10px;

}

/* RESPONSIVO */

@media(max-width:500px){

.container{

width:90%;

}

.card img{

width:100%;

}

}